.signup{
    box-sizing: border-box;
    margin-top: 50px;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 5px gray;
    margin-bottom: 80px;
    background-color: white;
}

.signup span, .signup p{
    margin: 3px;
    align-self: center;
}

.signup span{
    cursor: pointer;
}

.signup>button{
    margin: 35px auto 0px auto;
    border: none;
    align-self: center;
    width: 90%;
    height: 40px;
    background-image: linear-gradient(to right, red, purple);
    color: white;
    font-size: 18px;
}

.signup input:focus{
    outline: none;
}

.signup input{
    padding: 0px 10px ;
}

.signup>input{
    width: 90%;
    height: 36px;
    border: 1px solid gray;
    margin: 0px auto 15px auto;     
}

.signup label{
    margin: 4px 0px 5px 15px; 
}

.signup h2{
    align-self: center;
    margin: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}